.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.status{
  height: 500px;
  width: 500px;
  margin: 100px auto 40px;
  background-color: #61dafb;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.form{
  background-color: red;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  

  /* margin: 100px  auto 300px; */
}
.innerform{
  background-color:grey;
  padding:2px;
  margin: 2px auto 5px;
  text-align: center;
}
.error{
  color: red;
  display: inline-block;
  padding: 0 10px;
}

.container{
  background-color: #61dafb;
  height: 200px;
  width: 200px;
  padding: 5px auto 50px;
  margin: 20px auto 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formValidation{
  /* background-color: blueviolet; */
  margin: 5px;
  padding: 5px;
}
.validationButton{
  margin: 5px 50px  auto;
}
